<div class="wrapper p-4" [class]="{'dark': themeService.isDark}">
    <div class="row">
        <div class="card-body col-12 ps-3 pb-3 col-lg-8">
            <div class="title m-0">
                <h2 class="m-0 mb-1 pt-0">{{myPost().title}}</h2>
                <p class="fs-6 m-0 text-body-secondary">by {{myPost().author}}</p>
            </div>
            <div class="text">
                <p class="m-0 p-2" [innerHTML]="myPost().content"></p>
            </div>
            <div class="btn mt-3">
                <p-button class="read-more" label="Read more" [text]="true" [raised]="true" severity="info" />
            </div>
        </div>
        <figure class="card-img-body col-12 px-3 pb-0 col-lg-4 pe-lg-3">
            <img class="card-img pb-3" [alt]="myPost().title + ' by ' + myPost().author" [src]="myPost().img_url" />
        </figure>
    </div>
</div>