<div class="card container-fluid">
    <p-menubar [model]="items" />
    <div>
        <ul>
            <li>
                <a href="#">
                    <span></span>
                    <span></span>
                    <!-- <span></span>
                    <span></span> -->
                    <span class="pi pi-facebook"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span></span>
                    <span></span>
                    <!-- <span></span>
                    <span></span> -->
                    <span class="pi pi-github"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span></span>
                    <span></span>
                    <!-- <span></span>
                    <span></span> -->
                    <span class="pi pi-instagram"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span></span>
                    <span></span>
                    <!-- <span></span> -->
                    <!-- <span></span> -->
                    <span class="pi pi-linkedin"></span>
                </a>
            </li>
        </ul>
    </div>
</div>