<div class="card row navbar fixed-top mx-0" [class]="{'dark': themeService.isDark}">
    <p-menubar [model]="items" class="col-sm-8">
        <!--TODO: NEEDS TESTING ---- START -->
        <ng-template pTemplate="item" let-item>
            <ng-container>
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <span [class]="item.icon"></span>
                    <span class="ms-2 menu-text">{{ item.label }}</span>
                </a>
            </ng-container>
        </ng-template>
    </p-menubar>
    <!-- NEEDS TESTING ---- END -->
    <div class="col col-sm-3 d-inline d-sm-block">
        <ul>
            <li>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span class="pi pi-facebook"></span>
                </a>
            </li>

            <li>
                <a href="https://github.com/Vyzark">
                    <span></span>
                    <span></span>
                    <span class="pi pi-github"></span>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/andre-fullstack-dev/">
                    <span></span>
                    <span></span>
                    <span class="pi pi-linkedin"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="mode col col-sm-1 d-inline d-sm-block">
        <p-button icon="pi pi-sun" [rounded]="true" [raised]="true" [class]="{'d-none': themeService.isDark}"
            (onClick)="themeService.changeMode()" />
        <p-button icon="pi pi-moon" [rounded]="true" [raised]="true" [class]="{'d-none': !themeService.isDark}"
            (onClick)="themeService.changeMode()" />
    </div>
</div>