<div class="hero">
    <div class="title row container mx-auto">
        <h1 class="col-6 col-md-12 text-wrap">Your Daily <i class="tech-font">bit</i> Blog</h1>
    </div>
    <div class="sub row container mx-auto">
        <form class="col-3 col-md-6 mx-auto" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <p-inputGroup class="">
                <button type="submit" class="w-25" pButton label="Subscribe"></button>
                <input type="email" class="w-75 p-2" pInputText placeholder="name@example.com" formControlName="email"/>
            </p-inputGroup>
        </form>
    </div>
</div>

<div class="featured">
    <!--TODO: ADD POST CARDS FOR A "FEATURED" SECTION -->
    <post-card></post-card>
</div>