<div class="hero">
    <div class="title row container mx-auto">
        <h1 class="col-12 text-wrap">Your Daily <i class="bit">bit</i> Blog</h1>
    </div>
    <div class="sub row container mx-auto">
        <!-- TODO: Remove p-card for a normal styled div with less white-space -->
        <!-- TODO: Add transparency to bg of container -->
        <p-card styleClass="user-form" class="flex justify-content-center">
            <form class="col-3 col-md-6 mx-auto" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
                <p-inputGroup class="d-block">
                    <button type="submit" class="w-25" pButton label="Subscribe"></button>
                    <input id="subscribe" type="email" pInputText placeholder="name@example.com"
                        formControlName="email" />
                </p-inputGroup>
                @if (submitted && myForm.dirty && myForm.invalid) {
                <div>
                    <small class="d-block p-error">Invalid email address</small>
                </div>
                }
            </form>
        </p-card>
    </div>
</div>

<div class="feature-container container row">
    <div class="featured-title text-center my-4 col-8">

        <h3 class="tech"><i class="pi pi-folder-open fs-1"></i> Featured <i>Bits</i></h3>
        <hr class="mx-5">
    </div>

    <div class="featured col-10">
        @for (post of postList; track $index; let even = $even) {
            @if (even) {
                <post-card [myPost]="post"></post-card>
            }
        } @empty {
        <h3 class="text-body-secondary text-center col-8 offset-1">The featured folder is empty.</h3>
        }
        @for (post2 of postList; track $index; let odd = $odd) {
            @if (odd) {
                <post-card2 [myPost2]="post2"></post-card2>
            }
        }
    </div>
</div>