div.wrapper {
  --base: 1.22;
  --bg-color: #ffffffee;
}
img {
  display: block;
  width: 100%;
  height: 259.9px;
  margin: 0px auto;
}
figure {
  margin: 0;
  padding: 0;
  align-content: center;
}

div.wrapper {
  text-wrap: pretty;
  max-height: calc(60vh * var(--base));
  background-color: var(--bg-color);
  box-shadow: 2px 2px 5px #00000030;

  &.wrapper.dark {
    background-color: var(--bg-color);
  }

  @media (width > 991.98px) {
    max-height: calc(30vh * var(--base));
  }
}

div.card-body {
  position: relative;
  line-height: var(--base);

  @media (width > 991.98px) {
    & p-button.read-more {
      position: absolute;
      bottom: 0px;
      left: 16px;
    }
  }
}
.title {
  color: black;
}
.text p {
  max-height: calc(12vh * var(--base));
  position: relative;
  top: -12px;
  left: -8px;

  font-size: var(--base) rem;
  color: #444;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  display: -webkit-box;
}
